{% extends "../sub_base.html" %}
{% block title %}Password Reset Confirm{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
    window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

<form class="login-form" method="post">
    {% csrf_token %}
    <h1 class="h3 mb-4 font-weight-bold">Cambia tu contraseña</h1>
    <p>Usa la siguiente forma para cambiar tu contraseña</p>

    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
        Error: Por favor intenta nuevamente!
    </div>
    {% endif %}

    <label class="small font-weight-bold">{{ form.new_password1.label}}</label>
    {{ form.new_password1 }}
    <label class="small font-weight-bold">{{ form.new_password2.label}}</label>
    {{ form.new_password2 }}
    <ul>
        <li>Tu contraseña no puede ser similar a tu información personal.</li>
        <li>Tu contraseña debe contener al menos 12 caractéres.</li>
        <li>Tu contraseña no puede ser una contraseña común.</li>
        <li>Tu contraseña no puede ser enteramente numérica.</li>
    </ul>
    <button class="btn btn-primary btn-block py-2 mb-4 mt-5" type="submit" value="Change">Enviar
    </button>
</form>

{% endblock %}